@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --fc-today-bg-color: #E5FFFC !important;
  --fc-event-bg-color: #387879;
  --fc-event-border-color: #224849;
}

html.dark body {
  --fc-border-color: #4A5568;
  --fc-today-bg-color: #072c2d !important;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link {
  box-shadow: none !important;
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  flex: 1;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  flex-wrap: wrap;
  gap: 0.2em;
  margin-bottom: 0.5em;
  padding: 0 0.2em;
}


@media (max-width: 380px) {
  .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > :nth-child(2) {
    order: -1;
  }
}

.fc-event-main {
  display: flex;
/*   flex-direction: column; */  
  align-content: flex-start;
  gap: 0.2em;
  flex-wrap: wrap;
  overflow: hidden;
}